body {
    background-color: rgb(162, 255, 255);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 200px;
}

.BF {
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.heart {
    color: red;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 21, 255);
    font-family: cursive;
    font-size: 15px;
}