<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HatırApp</title>
    <link rel="stylesheet" href="style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Lütfen İstenilen Bilgileri Giriniz.</h1>

    <div class="form">
        <p class="isim">Ad-Soyad</p>
        <input type="text" placeholder="Adınızı Ve Soyadınızı Yazınız" maxlength="86">
    </div>

    <div class="upload-area">
        <h2>Fotoğraf / Video Yükle</h2>
        <div class="upload-box" onclick="document.getElementById('real-file').click();">
            <p id="uploadText">Yüklemek için buraya tıklayın</p>
            <div class="upload-preview" id="uploadPreview"></div>
        </div>
        <input type="file" id="real-file" accept="image/*,video/*" multiple style="display: none;">        
    </div>

    <div class="form">
        <p class="not">Not / Ses Kaydı</p>

        <div class="not-container">
          <textarea class="not-text" placeholder="Eklemek İstediğiniz Not..."></textarea>
        </div>
      
        <div class="record-actions">
          <button id="micBtn" class="mic-button" title="Ses Kaydı Başlat">🎤</button>
      
          <div id="recordPanel" class="record-panel">
            <button id="startBtn">Başlat</button>
            <button id="stopBtn" disabled>Bitir</button>
          </div>
        </div>
      
        <button class="finish-btn" onclick="window.location.href='{{ url_for('son') }}'">Gönder</button>
      </div>


    <footer class="footer">
        <p>Made by Muhammet Yaren</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
